// Global functions

// Gives a better result than default darken and lighten
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Voting arrows
@mixin arrow($arrow-color) {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  
  border-bottom: 8px solid $arrow-color;
}

// Colors

$light-base: #F6F6F0;
$light-accent: #EE6F2D;
$light-topbar: shade($light-base, 10);

$light-text-base: #222222;
$light-text-accent: tint($light-text-base, 50);
$light-text-link: #222222;

$dark-text-base: #EEEEEE;
$dark-text-accent: shade($dark-text-base, 50);
$dark-text-link: #EEEEEE;

$dark-base: black;
$dark-accent: black;
$dark-topbar: black;

$base: #F6F6F0;
$base-accent: #EE6F2D;

$dark-bg-primary: shade($base, 90);
$dark-bg-secondary: shade($base, 80);
$dark-bg-tertiary: shade($base, 70);

$dark-text-primary: $base;
$dark-text-secondary: shade($base, 20);
$dark-text-tertiary: shade($base, 40);

// Fonts

$base-font-size: 10pt;

// Home + other itemlist-based pages, e.g. ask or show

:root {
	background: tint($light-base, 90);
	color: $light-text-base;
}

// Target the topbar
#hnmain > tbody > tr:first-child > td {

	background: $light-topbar;
	padding: 5px;

	// Update the logo to look better on high-dpi displays.
	// The content security policy doesn't allow data URIs, so
	// we need to use an image that's already available.
	a:first-child {
		background: url("//news.ycombinator.com/yc500.gif") 0 0 no-repeat;
		background-size: auto 18px;
		border: 1px solid tint($light-base, 90);
		display: block;
		height: 18px;
		width: 18px;

		img {
			display: none;
		}
	}

	// Make sure the logo changes don't apply to the rest of the topbar links
	.pagetop {
		a {
			background: transparent;
			border: none;
			display: inline;
		}
	}
	
	// Remove the point total next to the username.
	// It's not wrapped, so we need to hack it a bit with
	// font sizes.
	> table > tbody > tr > td:last-child > span.pagetop {
		font-size: 0;

		a {
			font-size: $base-font-size;
		}
		
		// Add the separator back in
		#logout {
			&::before {
				content: "\a0|\a0";
			}
		}
	}
}

// Adjust the topbar link color to match
.topsel {
	a {
		font-weight: bold;

		&:visited {
			color: $light-text-base;
		}
	}
}

.title {
	.rank, .sitebit, .sitestr {
		color: tint($light-text-base, 50) !important;
	}

	.storylink {
		color: $light-text-base;
	}
}

// Replace the arrow gif with a CSS arrow so thatt
// we can adjust the color.
.votearrow {
	background-image: none;
	@include arrow($light-text-accent)
}

.subtext, .subtext a, .subtext span {
	color: tint($light-text-base, 50) !important;
}

// Add a little more whitespace in the itemlist.
// This increases readability, especially in dark mode.
.itemlist {
	padding-left: 5px;

	.title {
		vertical-align: top;
	}
}

.spacer {
	height: 10px !important;
}

// Item details

// Expand the comment box by default
.fatitem {
	width: 100%;
	padding: 0 24px 0 0;

	textarea {
		width: 100%;
	}
}

.comtr .comhead {
	// Don't show points on your own comments
	font-size: 0;

	.hnuser, .age, .par, .togg, .storyon {
		font-size: 8pt;
	}
	
	// Add back the space between span elements
	span {
		&::before {
				content: "\a0";
			}
	}
}

.comment {
	// HN uses shades of the base font color to show downvoted
	// comments, so we need to override those.
	@mixin comment-light($adjust-value) {
		color: tint($light-text-base, $adjust-value) !important;

		a, a:hover, a:visited {
			color: tint($light-text-link, $adjust-value) !important;
		}
	}

	.c00 { @include comment-light(0) }
	.c5a { @include comment-light(40) }
	.c73 { @include comment-light(45) }
	.c82 { @include comment-light(50) }
	.c88 { @include comment-light(55) }
	.c9c { @include comment-light(60) }
	.cae { @include comment-light(65) }
	.cbe { @include comment-light(70) }
	.cce { @include comment-light(75) }
	.cdd { @include comment-light(80) }
}

// Dark Mode

@media (prefers-color-scheme: dark) {

	// Global

	:root {
		background: shade($dark-base, 90);
		color: $dark-text-base;
	}

	.pagetop, .pagetop a {
		color: $dark-text-secondary !important;
	}

	.yclinks {
		a {
			color: $dark-text-tertiary;
		}
	}

	input[type=text], textarea {
		color: $dark-text-primary !important;
		background: $dark-bg-tertiary !important;
		border: 1px solid shade($base, 50) !important;
	}

	// Home + other itemlist-based pages, e.g. ask or show

	#hnmain {
		background: $dark-bg-secondary;

		> tbody > tr:first-child > td {
			background: $dark-bg-tertiary;

			a:first-child {
				background-color: $dark-bg-tertiary;
				background-blend-mode: luminosity;
			}
		}
	}

	.title {
		
		.rank, .score, .sitebit, .sitestr {
			color: $dark-text-accent !important;
		}

		.storylink {
			color: $dark-text-base;
		}
	}

 	.subtext, .subtext a, .subtext span {
		color: $dark-text-accent !important;
	}

	.votearrow {
		background-image: none;
		@include arrow($dark-text-accent)
	}

	.morelink {
		color: $dark-text-accent !important;
	}
	
	// Item detail page
	
	.comment-tree td {
		background: transparent !important;
	}

	.comment {
	// HN uses shades of the base font color to show downvoted
	// comments, so we need to override those.
		@mixin comment-dark($adjust-value) {
			color: shade($dark-text-base, $adjust-value) !important;

			a, a:hover, a:visited {
				color: shade($dark-text-link, $adjust-value) !important;
			}
		}

		.c00 { @include comment-dark(0) }
		.c5a { @include comment-dark(40) }
		.c73 { @include comment-dark(45) }
		.c82 { @include comment-dark(50) }
		.c88 { @include comment-dark(55) }
		.c9c { @include comment-dark(60) }
		.cae { @include comment-dark(65) }
		.cbe { @include comment-dark(70) }
		.cce { @include comment-dark(75) }
		.cdd { @include comment-dark(80) }

		.reply {
			a {
				color: $dark-text-secondary;
			}
		}
	}

	tr.athing td {
		background: transparent;
	}
}