// Functions

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// Colors

$base: #F6F6F0;
$base-accent: #EE6F2D;

$dark-bg-primary: shade($base, 90);
$dark-bg-secondary: shade($base, 80);
$dark-bg-tertiary: shade($base, 70);

$dark-text-primary: $base;
$dark-text-secondary: shade($base, 20);
$dark-text-tertiary: shade($base, 40);



// Home + other itemlist-based pages, e.g. ask or show

// Target the topbar
#hnmain > tbody > tr:first-child > td {
	padding: 5px;

	a:first-child {
		// Update the logo to look better on high-dpi displays.
		// The content security policy doesn't allow data URIs, so
		// we need to use an image that's already available.
		background: url("//news.ycombinator.com/yc500.gif") 0 0 no-repeat;
		background-size: auto 18px;
		border: 1px solid white;
		display: block;
		height: 18px;
		width: 18px;

		img {
			display: none;
		}
	}
	// Reset the changes that we made to deal with the logo
	.pagetop {
		a {
			display: inline;
			background: transparent;
			border: none;
		}
	}
}

.itemlist {
	padding-left: 5px;

	.title {
		vertical-align: top;
	}
}

.spacer {
	height: 10px !important;
}

// Item detail page

.fatitem {
	width: 100%;
	padding: 0 24px 0 0;

	textarea {
		width: 100%;
	}
}

// Dark Mode

@media (prefers-color-scheme: dark) {

	// Global

	body {
		background: $dark-bg-primary;
	}

	.pagetop, .pagetop a {
		color: $dark-text-secondary !important;
	}

	// Home + other itemlist-based pages, e.g. ask or show

	#hnmain {
		background: $dark-bg-secondary;

		> tbody > tr:first-child > td {
			background: $dark-bg-tertiary;

			a:first-child {
				background-color: $dark-bg-tertiary;
				background-blend-mode: luminosity;
			}
		}
	}

	.title {
		
		.rank, .sitebit, .sitestr {
			color: $dark-text-tertiary;
		}

		.storylink {
			color: $dark-text-primary;
		}
	}

 	.subtext, .subtext a, span {
		color: $dark-text-tertiary !important;
	}

	.morelink {
		color: $dark-text-secondary !important;
	}
	
	// Item detail page
	
	.comment-tree td {
		background: transparent !important;
	}

	.comment {
		.c00 { color: $base !important; }
		.c5a { color: shade($base, 40) !important; }
		.c73 { color: shade($base, 50) !important; }
		.c82 { color: shade($base, 60) !important; }
		.c88 { color: shade($base, 70) !important; }
		.c9c { color: shade($base, 70) !important; }
		.cae { color: shade($base, 70) !important; }
		.cbe { color: shade($base, 75) !important; }
		.cce { color: shade($base, 75) !important; }
		.cdd { color: shade($base, 75) !important; }


		.reply {
			a {
				color: $dark-text-secondary;
			}
		}
	}

	.commtext {
		color: $dark-text-primary;

		a {
			color: $dark-text-primary !important;

			&:visited {
				color: $dark-text-primary !important;
			}
		}

	}

	.fatitem textarea {
		background: $dark-bg-tertiary;
		border: 1px solid shade($base, 50);
	}

	tr.athing td {
		background: transparent;
	}
}